<div class="container my-5">
    <h1 class="text-center my-5 fs-2"><span class="text-info">LATEST</span> PRODUCTS</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card my-3 shadow-3">
                <img class="card-img-top img-thumbnail" src="https://cdn.vox-cdn.com/thumbor/oibFWJCW5bhdF5MP7nFzlKQvFzo=/0x0:2040x1360/400x400/filters:focal(1020x680:1021x681):format(webp)/cdn.vox-cdn.com/uploads/chorus_asset/file/22046474/vpavic_4291_20201113_0385.0.jpg">
                <div class="card-body">
                    <h4 class="card-title">MacBook Air</h4>
                    <p class="card-text">The MacBook Air is a competent, reliable device with a stellar processor.</p>   
                </div>
                <div class="card-footer">
                    <p class="price">$999</p>   
                    <button class="btn btn-dark btn-block">Buy now</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card my-3 shadow-3">
                <img class="card-img-top img-thumbnail" src="https://cdn.vox-cdn.com/thumbor/YevnZiVcqQlowHw_Eui1BAetcK0=/0x0:2040x1360/1720x0/filters:focal(0x0:2040x1360):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/22279295/mchin_190429_4395_0002.jpg">
                <div class="card-body">
                    <h4 class="card-title">HP SPECTRE X360 14</h4>
                    <p class="card-text">The HP Spectre x360 14 is the best 2-in-1 laptop of 2021.</p>   
                </div>
                <div class="card-footer">
                    <p class="price">$1170</p>   
                    <button class="btn btn-dark btn-block">Buy now</button>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card my-3 shadow-3">
                <img class="card-img-top img-thumbnail" src="https://cdn.vox-cdn.com/thumbor/9iP5M_5VEbAmAUm5bBhlr-v9KDk=/0x0:2040x1360/1720x0/filters:focal(0x0:2040x1360):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/22411713/cfaulkner_20210326_4491_0006.jpg">
                <div class="card-body">
                    <h4 class="card-title">LG GRAM 17 (2021)</h4>
                    <p class="card-text">The LG Gram 17 is our choice for the best lightweight 17-inch laptop to buy in 2021.</p>   
                </div>
                <div class="card-footer">
                    <p class="price">$1700</p>   
                    <button class="btn btn-dark btn-block">Buy now</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card my-3 shadow-3">
                <img class="card-img-top img-thumbnail" src="https://cdn.vox-cdn.com/thumbor/pVCukky5q1sAUnsTlCTDhdE_L9k=/0x0:2040x1360/1720x0/filters:focal(0x0:2040x1360):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/22038539/akramer_201113_4290_0022.0.jpg">
                <div class="card-body">
                    <h4 class="card-title">MacBook Pro 13 </h4>
                    <p class="card-text">More powerful than the Air but more affordable than the 16-inch Pro.</p>   
                </div>
                <div class="card-footer">
                    <p class="price">$1299</p>   
                    <button class="btn btn-dark btn-block">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>