.offer{
    
    position: absolute;
    top: 20%;
    padding: 20px;
    color: floralwhite;
    right: 20px;
    text-shadow: 0px 2px 5px #040404, -1px 2px #9e9eff;
    font-size: calc(1em + 1vw);
    font-weight: 800;

}
.overlay-text{
    transform: rotate(-15deg);
    margin-top: -50px;
    color: #01147b;
}
.col-md-6{
    overflow: hidden;
}
img{
    transform: rotate(-15deg);
    padding: 10px;
}