<div class="container-fluid mt-5 py-5">
    <h1 class="category text-center fs-2">SHOP BY <span class="text-info">CATEGORY</span></h1>
    <div class="row text-center p-5">
        <div class="col-md-4 ">
            <img src="https://cdn.pixabay.com/photo/2012/04/13/20/24/laptop-33521_960_720.png"
             class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" height=200  alt="">
             <h6 class="fs-6"><a>Laptops</a></h6>
        </div>
        <div class="col-md-4">
            <img src="https://cdn.pixabay.com/photo/2016/10/24/14/42/iphone-7-plus-1766257_960_720.png"
             class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
             <h6 class="fs-6"><a>SmartPhones</a></h6>
        </div>
        <div class="col-md-4">
            <img src="https://sm.pcmag.com/pcmag_in/news/l/lenovos-hu/lenovos-huge-array-of-new-tablets-includesa-huge-tablet_sdrx.png"
             class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
             <h6 class="fs-6"><a>Tablets</a></h6>
        </div>
    </div>
</div>
